$primary-color: #e50914;
$primary-hover-color: #ff0c18;
$max-width-allowed: 340px;

@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plansWrapper {
  @include flexbox();
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 3% 5%;

  & > div {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;

    .stepLogo {
      height: 70px;
      width: 70px;
    }

    h1 {
      font-weight: 500;
      margin-top: -12px;
    }

    .cardsContainer {
      @include flexbox();
      justify-content: space-between;
      width: 100%;
      gap: 10px;
      height: 450px;
      margin: 20px 0;

      @media (max-width: 800px) {
        flex-direction: column;
        height: unset;
      }
    }

    span {
      color: #737373;
      font-size: 13px;
    }

    button {
      margin: 20px auto 50px;
      width: $max-width-allowed;
      border-radius: 5px;
      padding: 20px 0;
      border: none;
      outline: none;
      color: #fff;
      font-size: 24px;
      background: $primary-color;
      cursor: pointer;

      &:hover {
        background: $primary-hover-color;
      }
    }

    .loading {
      background: rgba($color: $primary-color, $alpha: 0.4) !important;
      pointer-events: none;
    }
  }
}

.fadeInFromRight {
  opacity: 0;
  transform: translateX(100px);
  animation: fade-in-from-right 1s forwards;
  width: 100%;

  @keyframes fade-in-from-right {
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
