$primary-color: #fff;
$secondary-color: grey;
$icon-width: 10vw;
$profile-name-font-size: 1.2vw;

@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilesWrapper {
  @include flexbox();
  height: 100%;
  font-family: var(--font-rubik);

  & > div {
    @include flexbox();
    flex-direction: column;
    gap: 30px;
    position: relative;
    animation: scale-in forwards 0.3s ease-in-out;
    opacity: 0;
    transform: scale(1.1);

    @media (max-width: 800px) {
      width: 90%;
    }

    @keyframes scale-in {
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    h1 {
      color: $primary-color;
      font-size: 3.5vw;
      font-weight: 400;
      user-select: none;

      @media (max-width: 800px) {
        font-size: 30px;
      }
    }

    .profiles {
      @include flexbox();
      gap: 25px;

      @media (max-width: 800px) {
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
      }

      .profileCard {
        @include flexbox();
        flex-direction: column;
        gap: 10px;
        cursor: pointer;
        text-decoration: none;

        & > img,
        .newProfile {
          height: $icon-width;
          width: $icon-width;
          border-radius: 4px;
          object-fit: cover;
          max-height: 200px;
          max-width: 200px;
          min-height: 84px;
          min-width: 84px;
        }

        & > p {
          color: $secondary-color;
          font-size: $profile-name-font-size;
          max-width: calc($icon-width * 0.9);
          min-width: 80px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center;

          @media (max-width: 800px) {
            font-size: 12px;
          }
        }

        &:hover {
          img {
            outline: 2px solid $primary-color;
          }

          p {
            color: $primary-color;
          }

          .newProfile {
            background: $primary-color;
          }

          .newProfile::before {
            color: $primary-color;
          }
        }
      }

      .newProfile {
        @include flexbox();
      }

      .newProfile::before {
        content: "+";
        color: var(--background);
        font-size: 5vw;
        font-weight: 700;
        text-align: center;
        background: $secondary-color;
        border-radius: 50%;
        padding: 0 1.4vw;

        @media (max-width: 800px) {
          font-size: 45px;
          padding: 0 3.4vw;
        }
      }
    }

    & > a {
      margin-top: 25px;
      color: $secondary-color;
      padding: 0.5em 1.5em;
      font-size: $profile-name-font-size;
      border: 1px solid $secondary-color;
      cursor: pointer;
      text-decoration: none;

      @media (max-width: 800px) {
        font-size: 13px;
      }

      &:hover {
        color: $primary-color;
        border-color: $primary-color;
      }
    }

    & > span {
      margin-top: calc(25px + 0.8em);
      margin-bottom: 0.8em;
    }
  }
}
