$primary-color: #e50914;
$primary-hover-color: #cb0b15;
$secondary-color: #8c8c84;
$input-font-size: 16px;
$input-field-height: 55px;
$input-field-mobile-height: 50px;
$input-left-padding: 6%;
$button-width: 212px;
$button-mobile-width: 166px;
$mobile-max-width: 85%;

@mixin flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupWrapper {
  height: 100%;
  position: relative;
  color: #ffffff;
  font-family: var(--font-rubik);
  padding-bottom: 100px;

  @media (max-width: 800px) {
    padding-bottom: 0;
    height: 100vh;
  }

  .background {
    position: fixed;
    inset: 0;
    z-index: -1;
    filter: brightness(0.35);
    height: 100vh;
    width: 100vw;
  }

  .heroSection {
    padding: 2% 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    @media (max-width: 800px) {
      padding: 20px 5%;
      gap: 35px;
    }

    .header {
      @include flexbox();
      justify-content: space-between;

      & > a {
        background: $primary-color;
        color: #fff;
        text-decoration: none;
        padding: 8px 18px;
        border-radius: 5px;
        font-size: 16px;
        transition: all 0.2s;

        @media (max-width: 800px) {
          font-size: 14px;
        }

        &:hover {
          background-color: $primary-hover-color;
        }
      }
    }

    .emailWrapper {
      height: 100%;
      @include flexbox();
      flex-direction: column;
      gap: 25px;
      padding: 10% 0;

      h1 {
        font-size: 48px;
        font-weight: 700;
        text-align: center;

        @media (max-width: 800px) {
          font-size: 32px;
          font-weight: 600;
        }
      }

      h3 {
        font-size: 26px;
        font-weight: 400;

        @media (max-width: 800px) {
          font-size: 18px;
          text-align: center;
        }
      }

      p {
        font-size: 20px;

        @media (max-width: 800px) {
          font-size: 18px;
          text-align: center;
          font-weight: 400;
          line-height: 1.68rem;
          max-width: $mobile-max-width;
        }
      }

      .emailField {
        @include flexbox();
        width: 100%;
        gap: 20px;
        margin-top: 20px;

        @media (max-width: 800px) {
          flex-direction: column;
          max-width: $mobile-max-width;
        }

        .inputContainer {
          width: 100%;
          position: relative;
          max-width: 350px;

          @media (max-width: 800px) {
            max-width: 100%;
          }

          .errorField {
            @include flexbox();
            gap: 5px;
            color: $primary-color;
            font-size: 16px;
            justify-content: flex-start;
            margin-top: 10px;
            position: absolute;

            @media (max-width: 800px) {
              font-size: 13px;
              margin-top: 5px;
            }
          }

          & > label {
            color: $secondary-color;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            padding-left: $input-left-padding;
            font-size: $input-font-size;
            transition: all 0.5s;
          }

          & > input {
            color: #fff;
            width: 100%;
            border-radius: 5px;
            height: $input-field-height;
            background: rgba(22, 22, 22, 0.7);
            border: 1px solid rgba(128, 128, 128, 0.7);
            padding-left: $input-left-padding;
            padding-top: 20px;
            font-size: $input-font-size;
            letter-spacing: 0.5px;

            @media (max-width: 800px) {
              height: $input-field-mobile-height;
              padding: 20px $input-left-padding 0;
            }

            &:-webkit-autofill {
              -webkit-text-fill-color: #fff;
              -webkit-box-shadow: 0 0 0px $input-field-height
                rgba(70, 90, 126, 0.4) inset;
              transition: background-color 5000s ease-in-out 0s;

              @media (max-width: 800px) {
                -webkit-box-shadow: 0 0 0px $input-field-mobile-height
                  rgba(70, 90, 126, 0.4) inset;
              }
            }

            &:focus {
              outline: 2px solid rgb(194, 194, 194);
              outline-offset: 2px;
            }

            &:focus ~ label,
            &:not(:placeholder-shown) ~ label {
              font-size: 12px;
              top: 30%;
            }
          }
        }

        .inputValid > input {
          border-color: green;
        }

        .inputNotValid > input {
          border-color: $primary-color;
        }

        .inputNotValid ~ button {
          @media (max-width: 800px) {
            margin-top: 20px;
          }
        }

        & > button {
          @include flexbox();
          gap: 5px;
          background: $primary-color;
          border: none;
          outline: none;
          color: #fff;
          height: $input-field-height;
          width: $button-width;
          font-size: 22px;
          font-weight: 600;
          letter-spacing: 0.5px;
          border-radius: 5px;
          padding: 10px 30px;
          cursor: pointer;
          transition: all 0.2s;

          @media (max-width: 800px) {
            font-size: 18px;
            padding: 13px 20px;
            width: $button-mobile-width;
            height: $input-field-mobile-height;
          }

          &:hover {
            background: $primary-hover-color;
          }
        }

        .loading {
          background: rgba($color: $primary-color, $alpha: 0.4) !important;
          pointer-events: none;
        }
      }
    }
  }
}

.footerDivider {
  height: 5px;
  width: 100%;
  background-color: rgb(35, 35, 35);
}
