$color-dark: #333333;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 3%;
  box-shadow: 0 1px 0 0 rgb($color-dark, 0.1);

  @media (max-width: 800px) {
    padding: 15px 3%;
  }

  & > a {
    text-decoration: none;
    font-size: 19px;
    color: $color-dark;
    font-weight: 600;

    @media (max-width: 800px) {
      font-size: 14px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
